body {
    margin: 0px 20px 20px 20px
}

.medtd {
    width: 350px;
}

td {
    vertical-align: middle;
}

#chk-post-discharge {
    margin-left: 10px;
}

#intro-screen, #confirm-screen, #config-screen, .dvt {
    align-self: center;
    width: 700px;
}

.screen, #medrec-meds {
    display: none;
}

#config-text {
    width: 660px;
    height: 200px;
}

.wine-row {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.wine-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wine-image {
    height:80px;
    width:130px;
    margin-right:10px;
}